# 3. Lists in python

 * __Lists are Orderded.__
 * __Lists can contain any arbitrary objects.__
 * __Lists elements can be accessed by index.__
 * __Lists can be nested to arbitrary depth.__
 * __Lists are mutable.__
 * __Lists are dynamic.__

In [1]:
# creating empty list.

list1 = []  # square bracket.
print(list1)
print(type(list1))

[]
<class 'list'>

In [2]:
# List with an elements.

list2 = ['Hello world',3.147,2024,True,False,[10,20],('Hey python',40,50),{1,2,10,50,100,120},{'a':'apple','b':'ball'}]
print(list2)

['Hello world', 3.147, 2024, True, False, [10, 20], ('Hey python', 40, 50), {1, 2, 50, 100, 120, 10}, {'a': 'apple', 'b': 'ball'}]

In [3]:
print(type(list2))

<class 'list'>

In [6]:
# Acessing element with positive and negative value.

print(list2[0])
print(type(list2[0]))

Hello world
<class 'str'>

# What can content a list?

 * __Strings__
 * __Floats__
 * __Integer__
 * __Boolean__
 * __Nested list__
 * __Nested tuples__
 * __Nested Dictionary__
 * __and other data structures__

# list operations

In [8]:
list2 = ['Hello world',3.147,2024,True,False,[10,20],('Hey python',40,50),{1,2,10,50,100,120},{'a':'apple','b':'ball'}]
list2

['Hello world',
 3.147,
 2024,
 True,
 False,
 [10, 20],
 ('Hey python', 40, 50),
 {1, 2, 10, 50, 100, 120},
 {'a': 'apple', 'b': 'ball'}]

In [9]:
# slicing in lists

In [11]:
list2[0:5]

['Hello world', 3.147, 2024, True, False]

In [13]:
list2[5:]

[[10, 20],
 ('Hey python', 40, 50),
 {1, 2, 10, 50, 100, 120},
 {'a': 'apple', 'b': 'ball'}]

# Extending the list
 * __We use the extedn() function to add a new element to the list.__
 * __With the function, we add more than one element to the list.__

In [15]:
# CRUD:Create, Read, Update, Delete.
list2=['Hello world',10]
list2

['Hello world', 10]

In [16]:
# append,Extend, Insert  -> To add element inside the list.

In [17]:
list2.extend(['Shashank',100,20])
list2

['Hello world', 10, 'Shashank', 100, 20]

In [18]:
# append() -> To add single element at a time you can use append method.

list2.append('Pune')
list2

['Hello world', 10, 'Shashank', 100, 20, 'Pune']

In [19]:
list2.append('Pune','game')
list2

TypeError: list.append() takes exactly one argument (2 given)

In [21]:
# insert() method-> It takes 2 argument at one time.

list2.insert(0,'python')
list2

['python', 'Hello world', 10, 'Shashank', 100, 20, 'Pune']

# len(), count(),index(),max(),min(),sum() functions

In [30]:
lis = [1,2,3,4,5,6,5,5,5,5,7,8,8,9,9,9,9,2,0,1,100,-1]

print('Length of the list:',len(lis))
print('Count of the list-',lis.count(9))
print('Maximum of the value inside the list:',max(lis))
print('Minimum of the value inside the list:',min(lis))
print('Sum of the list:',sum(lis))

Length of the list: 22
Count of the list- 4
Maximum of the value inside the list: 100
Minimum of the value inside the list: -1
Sum of the list: 202

In [31]:
# updating the list 
list3 = [10,20]

In [32]:
list3

[10, 20]

In [34]:
list3[1] = 200
list3

[10, 200]

In [35]:
# Deleting element inside the list

list3

[10, 200]

In [36]:
del(list3[0])

In [37]:
list3

[200]

In [38]:
# deleting the whole list

del(list3)

In [39]:
list3

NameError: name 'list3' is not defined

In [44]:
# copy the list
# shallow copy and deep copy
# 1. Deep copy
list1 = [10,20]
print("Original List:",list1)

list2 = list1
print("Copied List:",list2)

# adding element in to the list.
list2.append("Hello")
print(list2)

Original List: [10, 20]
Copied List: [10, 20]
[10, 20, 'Hello']

In [45]:
list1

[10, 20, 'Hello']

In [48]:
# shallow copy()

list1 = [10,20,100]
print("Original List:",list1)
list3 = list1.copy()
print("Copied List:",list3)

Original List: [10, 20, 100]
Copied List: [10, 20, 100]

In [49]:
# Adding element in to the list

list1.append('hello')
print(list1)

[10, 20, 100, 'hello']

In [50]:
list3

[10, 20, 100]

In [51]:
# input() function
#: with the help of input function user can take input from running program.

x = input()
print(x)

 Hello world

Hello world

In [61]:
x = input('Enter any number:')
print(x)

Enter any number: 2

2
<class 'str'>

In [62]:
x = int(input('Enter any value:'))
print(x)
print(type(x))

Enter any value: 2

2
<class 'int'>

In [60]:
str1 = str(input('Enter any value:'))
print(str1)
print(type(str1))

Enter any value: 2

2
<class 'str'>

In [63]:
# format() funtion.

x = int(input('Enter first value:'))
y = int(input('Enter second value:'))
print(x+y)

Enter first value: 10
Enter second value: 20

30

In [64]:
x = int(input('Enter first value:'))
y = int(input('Enter second value:'))
total = x+y

print('Sum of the two values is:',total)

Enter first value: 10
Enter second value: 20

Sum of the two values is: 30

In [65]:
x = int(input('Enter first value:'))
y = int(input('Enter second value:'))
total = x+y

print('Sum of the two values {} and {} is {}:'.format(x,y,total))

Enter first value: 10
Enter second value: 20

Sum of the two values 10 and 20 is 30:

In [66]:
# Operator
# 1. Mathematical Operator:+,-,*,/,%,**etc.
# 2. comparison operator: <,>,<=,>=,==,!=
# 3. Identity operator: is or is not
# 4. Membership operator: in or not in
# 5. Logical Operator: AND,OR,NOT

In [67]:
# 1. wap to take 2 input from user and find their, sum, sub, multiply, and division.

x = int(input('Enter first number:'))
y = int(input('Enter second number:'))

add = x+y
print('Addition of the value is:',add)

sub = x-y
print('Substraction of the value is:',sub)

multi = x*y
print('Multiplication of the value is:',multi)

div = x/y
print('Division of the value is:',div)

Enter first number: 10
Enter second number: 20

Addition of the value is: 30
Substraction of the value is: -10
Multiplication of the value is: 200
Division of the value is: 0.5