# 4. Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __They are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuple also has the same structure where commas separate the value.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [4]:
# Creating empty tuples

tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [5]:
# single element as a tuple

list1 = [1]
print(list1)
print(type(list1))

[1]
<class 'list'>

In [11]:
tup1 = (1,)
print(tup1)
print(type(tup1))

(1,)
<class 'tuple'>

In [15]:
# tuple() data type

tp1 = tuple('1')
print(tp1)

('1',)

In [17]:
tuple1 = ("Hello world",3.14,100,True,False,['Hello world',100],("Python",5000),{1,1,1,2,2,3,3})
print(tuple1)

('Hello world', 3.14, 100, True, False, ['Hello world', 100], ('Python', 5000), {1, 2, 3})

In [26]:
# Accessing value inside the tuple

print(tuple1[0][0:5])

Hello

In [29]:
print(tuple1[-2][0][0:2])

Py

In [33]:
# accessing list inside the tuple

tuple1[5][0] = 'Hello python'

In [35]:
print(tuple1)

('Hello world', 3.14, 100, True, False, ['Hello python', 100], ('Python', 5000), {1, 2, 3})

In [36]:
print(tuple1[0])

Hello world

In [38]:
tuple1[0] = 'Hello python'
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [40]:
print(tuple1)

('Hello world', 3.14, 100, True, False, ['Hello python', 100], ('Python', 5000), {1, 2, 3})

In [44]:
#
print(tuple1[0])
print(type(tuple1[0]))

print(tuple1[5])
print(type(tuple1[5]))

Hello world
<class 'str'>
['Hello python', 100]
<class 'list'>

In [45]:
# concatenation of tuple

tup1 = ('Hello world','Python')
tup2= (True,False)

tup3 = tup1+tup2
print(tup3)

('Hello world', 'Python', True, False)

In [48]:
# Repetation of tuple
rep_tup = (1,2,3,4,5)
rep_tup*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [49]:
# Membership : in or not in

rep_tup

(1, 2, 3, 4, 5)

In [52]:
print(2 in rep_tup)
print(6 in rep_tup)
print(100 not in rep_tup)

True
False
True

In [53]:
rep_tup = (1,2,3,4,5)
rep_tup*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [58]:
for i in rep_tup:
    y = i*3
    print(y,end=" ")

3 6 9 12 15

In [60]:
# tuple is immutable

tup1 = ('Hello world',100)
tup1

('Hello world', 100)

In [62]:
tup1[0] = 'heloo python'
tup1

TypeError: 'tuple' object does not support item assignment

In [65]:
# deleting element inside the tuple
del(tup1[0])

TypeError: 'tuple' object doesn't support item deletion

In [66]:
tup1

('Hello world', 100)

In [67]:
tup1.append('Hello python')
tup1

AttributeError: 'tuple' object has no attribute 'append'

In [68]:
# sorting tuple

tuple3 = (0,1,5,8,9,6,3,2,4,4)
# sorting: Arranged in ascending or descending order.
tuple3

(0, 1, 5, 8, 9, 6, 3, 2, 4, 4)

In [71]:
tuple4 = sorted(tuple3)
print(tuple4)
print(type(tuple4))

[0, 1, 2, 3, 4, 4, 5, 6, 8, 9]
<class 'list'>

In [74]:
# Descending order.

desc1 = tuple4[::-1]
print(desc1)

[9, 8, 6, 5, 4, 4, 3, 2, 1, 0]

In [75]:
# deleting whole tuple

tup2 = ('Hello world',100)
print(tup2)

('Hello world', 100)

In [76]:
del(tup2[0])

TypeError: 'tuple' object doesn't support item deletion

In [77]:
del(tup2)

In [78]:
tup2

NameError: name 'tup2' is not defined

In [80]:
tup2 = ('Hello world',100,['Hello python'])
print(tup2)

('Hello world', 100, ['Hello python'])

In [83]:
del(tup2[2][0])

In [84]:
tup2

('Hello world', 100, [])

In [85]:
del(tup2[2])

TypeError: 'tuple' object doesn't support item deletion

In [86]:
tup2

('Hello world', 100, [])