# 5. Sets in Python

 * __Set is one of the 4 build-in data types in python used to store collecitons of data including List, Tuples, and Dictionary.__
 * __Sets are unoredered, but you can remove items and add new items.__
 * __Set elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be immutable type.__
 * __sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets.{}__

In [2]:
# Empty sets in python
set1 = {}
print(set1)
print(type(set1))

{}
<class 'dict'>

In [3]:
set1 = {1}
print(set1)
print(type(set1))

{1}
<class 'set'>

In [5]:
# How can i create empty set.

# set()
set2 = set()
print(set2)
print(type(set2))

set()
<class 'set'>

In [8]:
set3 = {'Hello Python',3.14,1.618,'Hello world',3.14,1.618,True,False,2022}
print(set3)

{False, 1.618, True, 3.14, 'Hello world', 'Hello Python', 2022}

In [41]:
# list

nlis = ['Hello Python',3.14,1.618,'Hello world Hello Python',3.14,1.618,True,False,2022,'Hello world Hello Python']
print(nlis)
print(type(nlis))


# converting into set

set4 = set(nlis)
print(set4)

['Hello Python', 3.14, 1.618, 'Hello world Hello Python', 3.14, 1.618, True, False, 2022, 'Hello world Hello Python']
<class 'list'>
{False, 1.618, True, 3.14, 'Hello Python', 2022, 'Hello world Hello Python'}

In [42]:
print(type(set4))

<class 'set'>

In [43]:
# Set operations

set4

{1.618, 2022, 3.14, False, 'Hello Python', 'Hello world Hello Python', True}

In [44]:
# add() function

set4.add('Chinmay')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 2022, 'Hello world Hello Python', 'Chinmay'}

In [45]:
set4.add('chinmay')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 2022, 'Hello world Hello Python', 'Chinmay', 'chinmay'}

In [46]:
# updating sets 
set5 = {'Pune',100}
print(set5)

{100, 'Pune'}

In [47]:
# print(set4)

set4.update(set5)
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python', 'Chinmay', 'chinmay', 'Pune'}

In [48]:
# remove element inside the set

# remove()
set4[0]

TypeError: 'set' object is not subscriptable

In [49]:
set4.remove('chinmay')
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python', 'Chinmay', 'Pune'}

In [50]:
set4.remove('Chinmay')
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python', 'Pune'}

In [37]:
del(set4)

In [38]:
set4

NameError: name 'set4' is not defined

In [51]:
# remove()
set4.remove('Chinmay')

KeyError: 'Chinmay'

In [53]:
# discard() function: It also work like remove but if element is not found inside the set it will return whole set not error.
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python', 'Pune'}

In [57]:
set4.discard('Chinmay')
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python', 'Pune'}

In [58]:
set4.discard('Pune')
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python'}

In [59]:
set4.discard('Pune')
print(set4)

{False, 1.618, True, 3.14, 100, 'Hello Python', 2022, 'Hello world Hello Python'}

# Logic Operations

# Union
# Intersection
# difference
# symmetric Difference

In [60]:
# Union

set_a = {2,4,6,8}  # {2,4,6,8,10,12}

set_b = {4,6,8,10,12}
print(set_a)
print(set_b)

{8, 2, 4, 6}
{4, 6, 8, 10, 12}

In [61]:
# union

set_c = set_a.union(set_b)
print(set_c)

{2, 4, 6, 8, 10, 12}

In [62]:
# Intersection

set_a = {2,4,6,8}  # {4,6,8}

set_b = {4,6,8,10,12}
print(set_a)
print(set_b)

{8, 2, 4, 6}
{4, 6, 8, 10, 12}

In [63]:
set_d = set_a.intersection(set_b)
print(set_d)

{8, 4, 6}

In [64]:
set_a & set_b

{4, 6, 8}

In [65]:
# Difference (a-b) (b-a)

set_a = {2,4,6,8}   # a

set_b = {4,6,8,10,12}
print(set_a)
print(set_b)

{8, 2, 4, 6}
{4, 6, 8, 10, 12}

In [67]:
set_e = set_a.difference(set_b)
print(set_e)


set_f = set_b.difference(set_a)
print(set_f)

{2}
{10, 12}

In [68]:
set_e = set_a-set_b
print(set_e)


set_f = set_b- set_a
print(set_f)

{2}
{10, 12}

In [69]:
# symmetric difference
# Difference (a-b) (b-a)

set_a = {2,4,6,8}   # a   {2,10,12}

set_b = {4,6,8,10,12}
print(set_a)
print(set_b)

{8, 2, 4, 6}
{4, 6, 8, 10, 12}

In [70]:
set_a.symmetric_difference(set_b)

{2, 10, 12}

# clear() function

In [71]:
x = {10,12,45}
print(x)

{10, 12, 45}

In [72]:
x.clear()
x

set()

# pop() function

In [73]:
x = {0,0,1,1,1,1,2,2,5,5,5,5}
x

{0, 1, 2, 5}

In [75]:
x.pop()
print(x)

{2, 5}