# Python Basic

In [2]:
print("Hello world")

Hello world

In [3]:
print("123")

123

In [4]:
'' #<---------single quotes.

""  #<--------double quotes.

''

In [5]:
print('Hello world')

Hello world

In [6]:
print('@#$%^')

@#$%^

In [7]:
print(Hello)

NameError: name 'Hello' is not defined

In [9]:
print('h')

h

In [10]:
print("12345")

12345

In [11]:
print(1235456)

1235456

In [12]:
var = 10  # Assignment operator. 
print(var)

10

In [16]:
1 = 'Helllo'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (772015188.py, line 1)

In [17]:
# Comment "#" hatch symbol
# comment is not readable by the system

In [18]:
import sys   # system

In [19]:
print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [20]:
print('Hello world')

Hello world

In [21]:
print("Hello world")

Hello world

# Data Typecasting

In [8]:
# string
print('Hello world')
print('123')

# Integer
print(123)
print(100)
print(145)

# float
print(100.0)
print(789.23)

# Boolean
print(True)
print(False)

Hello world
123
123
100
145
100.0
789.23
True
False

# type() keyword in python

In [16]:
# with the help of type() function you can check the data type of python.

# string
print('Hello world')
print(type('Hello world'))
print('123')
print(type('123'))

# Integer
print(123)
print(type(123))
print(100)
print(type(100))
print(145)
print(type(145))

# float
print(100.0)
print(type(100.0))
print(789.23)
print(type(789.23))

# Boolean
print(True)
print(type(True))
print(False)
print(type(False))

Hello world
<class 'str'>
123
<class 'str'>
123
<class 'int'>
100
<class 'int'>
145
<class 'int'>
100.0
<class 'float'>
789.23
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [21]:
#
print('123'+'5')  #1235
print(123+5)

1235
128

# Data typecasting

In [24]:
val = 100   #int  # float or string
print(val)
print(type(val))

#string
str1 = str(val)
print(str1)
print(type(str1))


# float
float1 = float(val)
print(float1)
print(type(float1))

100
<class 'int'>
100
<class 'str'>
100.0
<class 'float'>

In [26]:
# float value
val2 = 145.23  # float, # int, string.

# string
str1 = str(val2)
print(str1)
print(type(str1))

#integer 
int1 = int(val2)
print(int1)
print(type(int1))

145.23
<class 'str'>
145
<class 'int'>

In [28]:
# Boolean

bool1 = True  # string=True, int=1, float=1.0
bool2 = False #string=False, int=0, float=0.0

float1 = float(bool1)
print(float1)
print(type(float1))

1.0
<class 'float'>

In [29]:
# Expression and variable

val1 = 52+78-78*56
print(val1)

-4238

In [30]:
# Addition (+)
add1 = 78+78
print(add1)

156

In [31]:
# substraction

sub1 = 45-78
print(sub1)

-33

In [32]:
# multiplication
mult1 = 78*5
print(mult1)

390

In [34]:
# division

div1 = 5/2   # division
print(div1)

2.5

In [35]:
div2 = 5//2  # floor
print(div2)

2

In [36]:
# Modulus: It return remainder value.

mod1 = 5%2
print(mod1)

1

In [37]:
mod2 = 4%2
print(mod2)

0

In [38]:
# Exponent (base and power)

# base and power 3^2
expo1 = 3**2
print(expo1)

9